# Python
__pycache__/
*.py[cod]
*$py.class

# Word temporary files
~$*.docx
*.tmp

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Quarto
/.quarto/
/_site/
*_files/
*.html

# Built files
csun-syllabus-template.docx
csun-syllabus-template-notoc.docx
csun-online-syllabus-template.docx
csun-online-syllabus-template-notoc.docx
csun-syllabus-reference.docx

# But keep the CSUN logo
!csun-logo-syllabi.png